.json-tree-container {

    .inspector-json-node {
        .color-primary {
            /*color: var(--primary);*/
        }

        .node-key-outline {
            /*height: 1rem !important;*/
            /*border: 1px solid transparent !important;*/
            /*color: var(--gray-200);*/
        }

        &:hover {
            .action-icons-group {
                visibility: visible;
                pointer-events: all;
            }

            .hovered-json-node {
                /*font-weight: 400 !important;*/
                /*height: 1rem !important;*/
                color: var(--gray-400);
            }

            .hovered-json-node-border.node-key.badge {
                border-color: var(--primary) !important;
            }

            .node-key-outline.node-key.badge {
                border-color: #8092ab !important;
            }
        }
    }

    .json-tree-svg-icon.component-icon {
        /*height: 16px;*/
        /*width: 16px;*/
    }

    .json-tree-icon-container {
        /*max-width: 20px;*/
        /*margin-right: 6px;*/
        /*font-family: 'IBM Plex Sans';*/
    }

    .node-type {
        /*color: var(--gray-100);*/
        /*padding-top: 2px;*/
    }

    .json-tree-valuetype {
        /*font-size: 10px;*/
        /*padding-top: 2px;*/
    }

    .node-length-color {
        color: var('--primary-deep');
        /*padding-top: 3px;*/
    }

    .json-tree-node-value {
        /*font-size: 11px;*/
    }

    .json-tree-node-string {
        color: var(--color-orange-600);
    }

    .json-tree-node-boolean {
        color: var(--color-green-600);
    }

    .json-tree-node-number {
        color: var(--color-orange-600);
    }

    .json-tree-node-null {
        color: red;
    }

    .json-tree-node-date {
        color: rgb(98, 107, 103);
    }

    .group-border {
        border-left: 0.5px solid #dadcde;
        margin-top: 16px;
        margin-left: -12px;
    }

    .selected-node {
        border-color: var('--primarySubtle') !important;
    }

    .selected-node .group-object-container .badge {
        /*font-weight: 400 !important;*/
        height: 1rem !important;
    }

    .group-object-container {
        margin-left: 0.72rem;
        margin-top: -16px;
    }

    .json-node-element {
        cursor: pointer;
    }

    .hide-show-icon {
        cursor: pointer;
        /*margin-left: 1rem;*/

        &:hover {
            color: var(--primary);
        }
    }


    .action-icons-group {
        visibility: hidden;
        pointer-events: none;
        cursor: pointer;
    }

    .hovered-node {
        /*font-weight: 400 !important;*/
        /*height: 1rem !important;*/
        color: #8092ab;
    }

    .node-key {
        /*font-weight: 400 !important;*/
        /*margin-left: -0.25rem !important;*/
        /*justify-content: flex-start !important;*/
        /*min-width: fit-content !important;*/
    }

    .node-key-outline {
        /*height: 1rem !important;*/
        border: 1px solid transparent !important;
        /*color: var(--gray-200);*/
    }

}
