.modal-portal-wrapper {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 5%;
    z-index: 1400;

    .modal-body {
        width: 500px !important;
        height: 300px !important;
        padding: 0px !important;
    }

    transform: translate(-60%, 0%);
    height: 350px;
    width: auto;
    max-height: 500px;
    padding: 0px;

    .modal-content {
        border-radius: 5px !important;
    }

    .modal-body {
        width: 500px !important;
        height: 302px !important;
        padding: 0px !important;
        margin: 0px !important;
        margin-left: -1px !important;

        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 0.75px solid var(--theme-border-color);
        border-left: 0.75px solid var(--theme-border-color);
        border-right: 0.75px solid var(--theme-border-color);


        &.dark-mode-border {
            border-bottom: 0.75px solid var(--theme-border-color);
            border-left: 0.75px solid var(--theme-border-color);
            border-right: 0.75px solid var(--theme-border-color);
        }
    }

    .modal-dialog {
        margin-top: 4%;
    }

    .modal-header {
        padding: 0;
        font-size: 14px;
    }

    .editor-container {
        padding: 0px;

        .CodeMirror {
            border-radius: 0;
            margin: 0;
            width: 100% !important;
        }
    }

    .query-hinter {
        .CodeMirror-line {
            margin-left: 2rem !important;
        }

        .CodeMirror-cursors .CodeMirror-cursor {
            margin-left: 2rem !important;
        }
    }
}
